body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 2;
    flex: 2;
    justify-content: center;
    text-align: center;
    margin: 2rem;
    font: 300 1rem "Roboto", sans-serif;
}

section {
    max-width: 800px;
    margin: 1rem auto;
}

